/* Safari renders the partially transparent thin text WAY thinner than it should
 * be. This doesn't really seem to help, but people say it should? Ugh.
 */
body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px transparent;
  min-width: 800px;
  overflow-x: auto;
}

:root {
  --cool-bg: #eeeeee;
  --cool-fg: #000000;
  --cool-border: rgba(0, 0, 0, 0.1);
  --cool-column-bg: #eeeeee;
  --cool-active-item: #444444;
  --cool-active-item-text: #444444;
  --cool-hover-item: #cccccc;
  --cool-text-color: #222222;
  --cool-active-presence: #002200;
  --cool-mention-badge: #cccccc;
  --cool-top-nav-bg: #cccccc;
  --cool-top-nav-text: #cccccc;

  background: var(--cool-bg);
  color: var(--cool-fg);
  scrollbar-color: var(--cool-fg) var(--cool-bg);
}

.cool-search {
  border: 1px solid var(--cool-search-border);
  background: var(--cool-search-bg);
}

.cool-sidebar {
  background: var(--cool-column-bg);
  color: var(--cool-fg);
  cursor: default;
  user-select: none;
}

.cool-example {
  border-radius: 8px;
  padding: 1px 3px;
  border: 1px solid var(--cool-border);
}

.cool-sidebar-item:hover {
  background: var(--cool-hover-item);
}

.cool-sidebar-item[data-active] {
  background: var(--cool-active-item);
  color: var(--cool-active-item-text);
}

.cool-top-nav {
  background: var(--cool-top-nav-bg);
  color: var(--cool-top-nav-text);
}

.cool-badge {
  background: var(--cool-mention-badge);
  color: white;
}

.classic-link {
  color: var(--cool-mention-badge);
}

.cool-textarea {
  background: var(--cool-bg);
  color: var(--cool-fg);
  border-color: currentColor;
  resize: none;
}

.cool-textarea::selection {
  background: var(--cool-active-item);
  color: var(--cool-active-item-text);
}

.cool-button {
  background: var(--cool-fg);
  color: var(--cool-bg);
}

.b--cool {
  border-color: var(--cool-border);
}

.bg-cool {
  background: var(--cool-bg);
}

button:focus-visible,
button:focus,
:focus-visible,
:focus {
  outline: 2px solid var(--cool-fg);
  outline-offset: 2px;
}

.cool-grid {
  display: grid;
  grid-template-columns: 150px 225px 1fr;
  grid-gap: 2rem;
  padding: 2rem;
}

.cool-palette {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
  align-content: start;
}

.cool-palette-item {
  height: 24px;
}

.cool-palette-item:focus {
  outline: none;
  box-shadow: inset 0 0 0 3px black, inset 0 0 0 4px white;
}

.chrome-picker {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) !important;
}

/* Nightmare of inline styles and bad accessibility to fix here */
.chrome-picker span,
.chrome-picker input {
  font-family: sans-serif !important;
  font-size: 1rem !important;
}

.active-squish:active {
  transform: scale(0.98);
}
